body {
  font-family: sans-serif;
  position: absolute;
}


html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  
  margin: auto;
  text-align: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 20vh;
}

.result {
  
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  width: 250px;
  height: 60px;
  border: 5px solid blue;
  border-radius: 5px;
}

